/*1.变量*/
.box {
  width: 300px;
  height: 300px;
  background: #ff0000;
  /*2.嵌套*/
}
.box .child1 {
  width: 200px;
  height: 200px;
  background: green;
  /*嵌套*/
}
.box .child1 p {
  width: 150px;
  height: 150px;
  background: orange;
}
.box .child2 {
  color: white;
}
