.icon, .icon img {
    width: 100%;
    background-color: #f8f8f8
}

.summary {
    width: 100%;
    background-color: #f8f8f8;
}

.summary h1 {
    color: #444;
    height: 60px;
    line-height: 60px;
    text-indent: 20px;
}

.summary p {
    color: #555;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}
