.subtitle {
    color: #444;
    height: 65px;
    line-height: 60px;
    text-indent: 20px;
    background-color: #f8f8f8;
    border-top: 5px solid #fff;
}

.contact {
    background-color: #f8f8f8;
    position: relative;
    height: 120px;
}

.contact .wechat img {
    width: 100px;
    position: absolute;
    left: 18px;
}

.contact .other {
    width: calc(100% - 150px);
    position: absolute;
    top: 5px;
    right: 20px;
}
