<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {
      msg: String
    },
    components: {

    },
    mixins: [],
    data: function() {
      return {
        message: '<%= data.name %>'
      }
    },
    created: function() {

    },
    mounted: function() {

    },
    computed: {

    },
    methods: {

    }
  }
</script>

<style scoped>
  .<%= data.lowerName %> {
    
  }
</style>