@baseColor: #e92322;

.wjs_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  .row {
    height: 100%;
    text-align: center;
    > div:nth-of-type(-n+3) {
      border-right: 1px solid #ccc;
      > .wjs_code {
        position: relative;
        display: block;
        > img {
          display: none;
          position: absolute;
          top: 49px;
          left: 50%;
          transform: translateX(-50%);
          border: 1px solid #ccc;
          border-top: none;
          z-index: 999;
        }
        &:hover {
          > img {
            display: block;
          }
        }
      }
    }
    > div:nth-last-of-type(1) {
      > .btn-danger {
        background-color: @baseColor;
        border-color: @baseColor;
      }
      > .btn {
        padding: 3px 15px;
      }
      > .btn-link {
        color: #333;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.wjs_nav {
  &.navbar {
    margin-bottom: 0;
  }
  .navbar-brand {
    height: 80px;
    line-height: 50px;
    > .wjs_icon {
      font-size: 40px;
    }
    > span:first-of-type {
      color: @baseColor;
    }
    > span:last-of-type {
      color: #333;
    }
  }
  .navbar-nav {
    > li {
      > a {
        line-height: 50px;
        font-size: 16px;
      }
      > a:hover, a:focus {
        color: #777;
        border-bottom: 3px solid @baseColor;
      }
    }
    .active {
      > a, a:hover, a:focus {
        background-color: transparent;
        border-bottom: 3px solid @baseColor;
      }
    }
  }
  .navbar-toggle {
    margin-top: 23px;
  }
}


.wjs_banner {
  .mobileImg {
    width: 100%;
    display: block;
  }
  .mobileImg > img {
    width: 100%;
    display: block;
  }
  .pcImg {
    width: 100%;
    height: 410px;
    display: block;
    background-position: center center;
    background-size: cover;
  }
}


.wjs_info {
  padding: 30px;
  .wjs_icon {
    font-size: 30px;
  }
  .row {
    > div {
      margin-top: 20px;
      > a:hover {
        color: @baseColor;
      }
    }
  }
}


.wjs_reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .wjs_icon {
    font-size: 18px;
  }
  .reverse_now {
    color: @baseColor;
    border-bottom: 1px dashed @baseColor;
  }
  a:hover {
    color: @baseColor;
  }
}


.wjs_product {
  clear: both;
  background-color: #eee;
  padding: 20px;
  .nav-tabs {
    > li {
      margin-bottom: 0;
      padding: 0 15px;
      > a {
        line-height: 50px;
        border-radius: 0;
        border: none;
        background-color: transparent;
      }
      > a:hover {
        border-bottom: 3px solid @baseColor;
      }
      &.active {
        > a, a:hover, a:focus {
          border: none;
          border-radius: 0;
          background-color: #eee;
          border-bottom: 3px solid @baseColor;
        }
      }
    }
  }
  .wjs_pBox {
    height: 150px;
    margin-top: 20px;
    background-color: #fff;
    .wjs_pLeft {
      margin-right: 100px;
      height: 150px;
      padding-top: 10px;
      font-size: 12px;
      > p {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
      .row {
        margin-right: -10px;
        > div:nth-of-type(even) {
          text-align: right;
        }
      }
    }
    .wjs_pRight {
      width: 100px;
      height: 150px;
      position: absolute;
      right: 15px;
      top: 20px;
      border-left: 1px dashed #ccc;
      text-align: center;
      padding-top: 30px;
      > .wjs_tip {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        > span {
          cursor: pointer;
        }
        > span:first-of-type {
          color: red;
          border: 1px solid red;
        }
        > span:last-of-type {
          color: blue;
          border: 1px solid blue;
        }
      }
      > b {
        font-size: 40px;
        color: @baseColor;
      }
      > sub {
        color: @baseColor;
        bottom: 0;
      }
      &::before, &:after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #eee;
        position: absolute;
        left: -5px;
      }
      &::before {
        top: -5px;
        box-shadow: 0 -1px 1px #ddd inset;
      }
      &::after {
        bottom: -5px;
        box-shadow: 0 1px 1px #ddd inset;
      }
    }
  }
}