.user {
    width: 300px;
    height: 600px;
    display: inline-block;
    position: relative;
}

.user .user-block {
    position: absolute;
    width: 300px;
    height: 500px;
    top: calc(50% - 250px);
    user-select: none;
}

.user .user-block .icon, .user .user-block .icon img {
    margin: 0 auto;
    width: 280px;
    height: 280px;
    border-radius: 12px;
}

.user .user-block .icon, .user .user-block .icon img:hover {
    box-shadow: 1px 1px 15px #ccc;
}

.user .user-block .icon {
    margin-bottom: 20px;
}

.user .user-block .row {
    margin: 0 auto;
    margin-top: 10px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.user .user-block .row:hover {
    box-shadow: 1px 1px 3px #ccc;
}

.user .user-block .name {
    color: #444;
    font-size: 22px;
    font-weight: bold;
}

.user .user-block .career {
    color: #666;
    font-size: 18px;
}

.user .user-block .location {
    color: #666;
    font-size: 18px;
}

.user .user-block .social div {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 5px;
}

.user .user-block .social div img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.user .user-block .social .indent {
    width: 44px;
    background-color: #f8f8f8;
}

.profile {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    width: 700px;
    float: right;
    display: inline-block;
    user-select: none;
}

.profile .profile-block, .profile .profile_social-block, .profile .profile_interest-block, .profile .profile_education-block {
    width: 680px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #f8f8f8;
}

.profile .profile-block:hover, .profile .profile_social-block:hover, .profile .profile_interest-block:hover, .profile .profile_education-block:hover {
    box-shadow: 1px 1px 7px #ccc;
}

.profile .profile_social-block .form-line, .profile .profile-block .form-line, .profile .profile_interest-block .form-line, .profile .profile_education-block .form-line {
    padding-top: 10px;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.profile .profile-block .form-line span {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.profile .profile-block .form-line input {
    height: 25px;
    line-height: 25px;
    width: 348px;
    font-size: 14px;
}

.profile .profile_social-block .form-line span {
    display: inline-block;
    width: 40px;
    text-align: left;
}

.profile .profile_social-block .form-line input {
    height: 25px;
    margin-right: 10px;
    line-height: 25px;
    width: 186.5px;
    font-size: 14px;
}

.profile .profile_interest-block .form-line span {
    display: inline-block;
    width: 70px;
    text-align: left;
}

.profile .profile_interest-block .form-line input {
    height: 25px;
    line-height: 25px;
    width: 407px;
    font-size: 14px;
}

.profile .profile_education-block .form-line span {
    display: inline-block;
    width: 50px;
    text-align: left;
}

.profile .profile_education-block .form-line span.year {
    width: 40px;
}

.profile .profile_education-block .form-line input {
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
    width: 125px;
    font-size: 14px;
}

.profile .profile_education-block .form-line input.year {
    width: 49px;
}

.profile input {
    text-indent: 8px;
}

.profile .options {
    padding-top: 10px;
    margin-left: 28px;
    margin-right: 29px;
    height: 30px;
    line-height: 30px;
}

.profile button {
    color: #555;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 8px;
    width: 60px;
    height: 25px;
}

.profile .options button {
    float: right;
}

.profile .options .table {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 5px 2px 6px #ddd;
}
