.user {
    width: 300px;
    height: 600px;
    display: inline-block;
    position: relative;
}

.user .user-block {
    position: absolute;
    width: 300px;
    height: 500px;
    top: calc(50% - 250px);
    user-select: none;
}

.user .user-block .icon, .user .user-block .icon img {
    margin: 0 auto;
    width: 280px;
    height: 280px;
    border-radius: 12px;
}

.user .user-block .icon, .user .user-block .icon img:hover {
    box-shadow: 1px 1px 15px #ccc;
}

.user .user-block .icon {
    margin-bottom: 20px;
}

.user .user-block .row {
    margin: 0 auto;
    margin-top: 10px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.user .user-block .row:hover {
    box-shadow: 1px 1px 3px #ccc;
}

.user .user-block .name {
    color: #444;
    font-size: 22px;
    font-weight: bold;
}

.user .user-block .career {
    color: #666;
    font-size: 18px;
}

.user .user-block .location {
    color: #666;
    font-size: 18px;
}

.user .user-block .social div {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 5px;
}

.user .user-block .social div img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.user .user-block .social .indent {
    width: 44px;
    background-color: #f8f8f8;
}

.profile {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    width: 700px;
    float: right;
    display: inline-block;
    user-select: none;
}

.profile .profile-block {
    width: 680px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #f8f8f8;
}

.profile .profile-block:hover {
    box-shadow: 1px 1px 7px #ccc;
}

.profile .profile-block .form-line {
    padding-top: 10px;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.profile .profile-block .form-line span {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.profile .profile-block .form-line input {
    height: 25px;
    line-height: 25px;
    width: 400px;
    font-size: 14px;
}
