.subtitle {
    color: #444;
    height: 65px;
    line-height: 60px;
    text-indent: 20px;
    background-color: #f8f8f8;
    border-top: 5px solid #fff;
}

.education {
    width: 100%;
    background-color: #f8f8f8;
    border-top: 5px solid #fff;
}

.education h2 {
    color: #444;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
}

.education dl dd {
    padding-left: 20px;
    padding-right: 20px;
    color: #555;
}

.education dl dt {
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    font-size: 14px;
    padding-bottom: 10px;
}
