.subtitle {
    margin-top: 50px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    color: #444;
}

.articles {
    height: 1200px;
    width: 700px;
    float: right;
    display: inline-block;
    position: relative;
}

.articles .articles-block {
    position: absolute;
    width: 700px;
    height: 1100px;
    top: calc(50% - 550px);
}
