.column {
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 500px;
    float: left;
    border-radius: 12px;
}

.column-block {
    padding-top: 10px;
    height: 490px;
    width: inherit;
    border-radius: 12px;
    position: relative;
    background-color: #fff;
}

.column-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 330px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #EA6F5A;
    color: #fff;
    font-size: 20px;
}

.column-list {
    height: 460px;
    overflow: scroll;
}

.row {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 310px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.row a, .row a:link, .row a:visited {
    text-decoration: none;
    color: #333;
}

.row a:hover {
    text-decoration: none;
    color: #EA6F5A;
}
