.user {
    width: 300px;
    height: 600px;
    display: inline-block;
    position: relative;
}

.user .user-block {
    position: absolute;
    width: 300px;
    height: 500px;
    top: calc(50% - 250px);
}

.user .user-block .icon, .user .user-block .icon img {
    margin: 0 auto;
    width: 280px;
    height: 280px;
    border-radius: 12px;
}

.user .user-block .icon {
    padding-bottom: 10px;
}

.user .user-block .row {
    margin: 0 auto;
    margin-top: 10px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.user .user-block .name {
    color: #444;
    font-size: 22px;
    font-weight: bold;
}

.user .user-block .career {
    color: #666;
    font-size: 18px;
}

.user .user-block .location {
    color: #666;
    font-size: 18px;
}

.user .user-block .social div {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 5px;
}

.user .user-block .social div img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.user .user-block .social .indent {
    width: 44px;
    background-color: #f8f8f8;
}

.introduction {
    width: 700px;
    height: 600px;
    display: inline-block;
    float: right;
}

.introduction .main {
    width: inherit;
    height: 350px;
    position: relative;
}

.introduction .main .main-block {
    background-color: #f8f8f8;
    position: absolute;
    width: 680px;
    height: 280px;
    left: calc(50% - 340px);
    top: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.introduction .main .main-block h1 {
    color: #444;
    height: 60px;
    line-height: 60px;
    text-indent: 20px;
}

.introduction .main .main-block p {
    color: #555;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}

.introduction .left {
    width: 350px;
    height: 250px;
    display: inline-block;
    position: relative;
}

.introduction .left .left-block {
    background-color: #f8f8f8;
    width: 330px;
    height: 200px;
    left: calc(50% - 165px);
    position: absolute;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.introduction .left .left-block h2 {
    color: #444;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
}

.introduction .left .left-block ul li {
    color: #555;
    height: 30px;
    padding-left: 20px;
    list-style-type: none;
}

.introduction .right {
    width: 350px;
    height: 250px;
    float: right;
    display: inline-block;
    position: relative;
}

.introduction .right .right-block {
    background-color: #f8f8f8;
    width: 330px;
    height: 200px;
    left: calc(50% - 165px);
    position: absolute;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.introduction .right .right-block h2 {
    color: #444;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
}

.introduction .right .right-block dl dd {
    padding-left: 20px;
    padding-right: 20px;
    color: #555;
}

.introduction .right .right-block dl dt {
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    font-size: 14px;
    padding-bottom: 10px;
}
