.input {
  border: 3px solid #ae7000;
}

.boss-text-enter {
  opacity: 0;
}

.boss-text-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.boss-text-enter-done {
  opacity: 1;
}

.boss-text-exit {
  opacity: 1;
}

.boss-text-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.boss-text-exit-done {
  opacity: 0;
}

/* .show { */
  /* opacity: 1;
  transition: all 1.5s ease-in; */
  /* animation: show-item 2s ease-in forwards; */
/* } */

/* .hide { */
  /* opacity: 0;
  transition: all 1.5s ease-in; */
  /* animation: hide-item 2s ease-in forwards; */
/* } */

/* @keyframes show-item {
  0% {
    opacity: 0;
    color: yellow;
  }
  50% {
    opacity: 0.5;
    color: red;
  }
  100% {
    opacity: 1;
    color: green;
  }
}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: yellow;
  }
  50% {
    opacity: 0.5;
    color: red;
  }
  100% {
    opacity: 0;
    color: green;
  }
} */