body {
  background-color: #f6f6f6;
}

.comm-left {
  background-color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
}

.comm-box {
  background-color: #fff;
  margin-left: .5rem;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
}

.comm-main {
  margin-top: .5rem;
}

.list-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}

.list-content {
  color: #777;
  padding: .5rem;
}

.list-icon {
  padding: .5rem 0;
  color: #aaa;
}

.list-icon span {
  display: inline-block;
  padding: 0 10px;
}