*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #ccc;
}

.header{
    height: 44px;
    background: #333;
    text-align: center;
    color: #fff;
    line-height: 44px;
}
.content{
    width: 800px;
    height: 800px;
    background: #fff;
    margin: 20px auto;
    padding: 10px;
}
.content_h{
    display: flex;
    margin-bottom: 20px;
}
.content_h li{
    flex: 1;
    float: left;
}
input{
    width: 300px;
    height: 30px;
}
select{
    width: 100px;
    height: 30px;
}
.title{

    background: #ccc;
    display: flex;
}
.title li{
    flex: 1;
    float: left;
    height: 50px;
    line-height: 50px;
}
.info{
    background: none;
    border: 1px solid #ccc;
    border-top:none;
}
img{
    width: 30px;

}