<div class="home">
    <p class="tag">洗洗睡</p>
    <h2>我是首页1我是首页1我是首页1我是首页1我是首页1我是首页1</h2>

    <!--第一种样式-->
    <div class="post1" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
    </div>

    <!-- 第二种样式 -->
    <div class="post2" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
        <img src="images/home/post_1.png" alt="">
    </div>

    <div class="post3">
        <ul>
            <li><img src="images/home/post_3.png" alt=""></li>
            <li><img src="images/home/post_4.png" alt=""></li>
            <li><img src="images/home/post_5.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="home">
    <p class="tag">洗洗睡</p>
    <h2>我是首页1我是首页1我是首页1我是首页1我是首页1我是首页1</h2>

    <!--第一种样式-->
    <div class="post1" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
    </div>

    <!-- 第二种样式 -->
    <div class="post2" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
        <img src="images/home/post_1.png" alt="">
    </div>

    <div class="post3">
        <ul>
            <li><img src="images/home/post_3.png" alt=""></li>
            <li><img src="images/home/post_4.png" alt=""></li>
            <li><img src="images/home/post_5.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="home">
    <p class="tag">洗洗睡</p>
    <h2>我是首页1我是首页1我是首页1我是首页1我是首页1我是首页1</h2>

    <!--第一种样式-->
    <div class="post1" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
    </div>

    <!-- 第二种样式 -->
    <div class="post2" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
        <img src="images/home/post_1.png" alt="">
    </div>

    <div class="post3">
        <ul>
            <li><img src="images/home/post_3.png" alt=""></li>
            <li><img src="images/home/post_4.png" alt=""></li>
            <li><img src="images/home/post_5.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="home">
    <p class="tag">洗洗睡</p>
    <h2>我是首页1我是首页1我是首页1我是首页1我是首页1我是首页1</h2>

    <!--第一种样式-->
    <div class="post1" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
    </div>

    <!-- 第二种样式 -->
    <div class="post2" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
        <img src="images/home/post_1.png" alt="">
    </div>

    <div class="post3">
        <ul>
            <li><img src="images/home/post_3.png" alt=""></li>
            <li><img src="images/home/post_4.png" alt=""></li>
            <li><img src="images/home/post_5.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="home">
    <p class="tag">洗洗睡</p>
    <h2>我是首页1我是首页1我是首页1我是首页1我是首页1我是首页1</h2>

    <!--第一种样式-->
    <div class="post1" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
    </div>

    <!-- 第二种样式 -->
    <div class="post2" ng-if="false">
        <p>努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!努力的人,应当像好色一样好学!!</p>
        <img src="images/home/post_1.png" alt="">
    </div>

    <div class="post3">
        <ul>
            <li><img src="images/home/post_3.png" alt=""></li>
            <li><img src="images/home/post_4.png" alt=""></li>
            <li><img src="images/home/post_5.png" alt=""></li>
        </ul>
    </div>
</div>