<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>04-ng-repeat</title>
</head>
<body ng-app="app" ng-controller="XmgController">

<ul>
    <!--  ng-repeat="item in score"  遍历 要想重复谁 就在谁身上绑定 -->
    <li ng-repeat="(index,item) in score  ">{{index}} {{item}}</li>
</ul>
<ul>
    <!--  ng-repeat="item in score"  遍历 明确的规定以index为标准 -->
    <li ng-repeat="(index,item) in score track by $index ">{{index}} {{item}}</li>
</ul>

<!--<ul>-->
    <!--&lt;!&ndash;  ng-repeat="item in score"  遍历 &ndash;&gt;-->
    <!--<li ng-repeat="(key,value) in student">{{key}} {{value}}</li>-->
<!--</ul>-->
<script src="js/angular-1.5.8.js"></script>
<script>
    // 1.创建模块
    var app = angular.module('app',[]);
    // 2.创建控制器
    app.controller('XmgController',['$scope',function ($scope) {
        $scope.msg = 'xmg';
        $scope.score = [99, 88, 77, 60,88];
//        $scope.student = {name:'zs',age:18}
    }])
</script>
</body>
</html>