@charset "UTF-8";

html {
    font-family: "Heiti SC", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", verdana;
    font-size: 12px;
}

/* 公共样式 */
a {
    color: #333;
}

a:hover {
    color: #b4a078;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-fix {
    *zoom: 1;
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 一行的容器 */
.row {
    margin: 0 auto;
    width: 1090px;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cmp, .site-nav .service::after, .site-nav .download-app::before {
    background: url("../images/component.png") no-repeat;
}

article .header {
    padding-bottom: 20px;
}

article .header .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
}

article .header .subtitle {
    float: left;
    padding-top: 13px;
    font-size: 14px;
    line-height: 1;
}

article .header .more {
    font-size: 14px;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    float: right;
}

article .content .product {
    float: left;
    overflow: hidden;
}

article .img-scale img {
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

article .img-scale:hover img {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

article .product .image .tag {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 20px;
    background-color: #f4f0ea;
}

article .product .info {
    text-align: center;
}

article .product .info .tags {
    height: 20px;
    margin-bottom: 3px;
}

article .product .info .tag {
    margin: 0 3px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}

article .product .info .tag.hot {
    background-color: #F28F2D;
}

article .product .info .tag.attr {
    color: #A94528;
    background-color: #F8BC59;
}

article .product .info .name {
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
    font-weight: 700;
}

article .product .info .price {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 13px;
}

article .product .info .price-detail {
    color: #d4282d;
    vertical-align: middle;
}

article .product .info .price .brand {
    border-left: 1px solid #999;
    padding-left: 10px;
    margin-left: 7px;
    color: #999;
}

article .product .image {
    position: relative;
    overflow: hidden;
    display: block;
}

button.slide-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: url("../images/icon-normal.png") no-repeat #D0C4AF;
    top: 200px;
    cursor: pointer;
    border: none;
}

button.slide-arrow:hover {
    background-color: #B19D79;
}

button.slide-arrow.pre {
    background-position: 0 -4700px;
}

button.slide-arrow.next {
    background-position: 0 -4880px;
}