@import './test.css';
@import '../font/iconfont.css';

.demo {
  color: red;
}

.bg-image {
  display: inline-block;
  background-image: url('../img/nhlt.jpg');
  background-size: contain;
}

.sq_icon {
  display: inline-block;
  font-size: 50px;
  color: red;
}